$squares: 50;
$square-size: 10px;
$square-border: 1px;
$board-size: $squares * ($square-size + 2 * $square-border);

body {
  background-color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.square {
  border: $square-border solid #cccccc;
  width: $square-size;
  height: $square-size;
  float: left;
  margin: 0;
}

#board-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
}

#board {
  width: $board-size;
  height: $board-size;
}

.bone {
  background-color: black;
}

.head {
  background-color: #FFD700;
}

.food {
  background-color: red;
}
